* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(IMAGENS/fundod.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #333;
  line-height: 1.6;
}

header {
  background: linear-gradient(135deg, #ff7f50, #ffb07c);
  color: white;
  padding: 3rem 1rem;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.2);
}

header h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}

main {
  max-width: 600px;
  margin: 3rem auto;
    background: rgba(255, 255, 255, 0.493);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #d35400;
}

p {
  text-align: center;
  margin-bottom: 2rem;
  color: #555;
}

.campo {
  margin-bottom: 20px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #882000;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
}

input:focus,
textarea:focus {
  outline: none;
  background: #ffe6d5;
}

.botao {
  display: block;
  width: 100%;
  padding: 12px;
  background: #d35400;
  color: white;
  font-size: 1.1em;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao:hover {
  background: #ff7300;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }

  main {
    margin: 1.5rem;
    padding: 1.5rem;
  }
}
