* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("IMAGENS/form.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #2b1300;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}

.box {
  width: 100%;
  max-width: 950px;
  background: #ffeac3b7;
  border-radius: 20px;
  padding: 30px;
  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.3),
    0 0 20px rgb(255, 81, 0),
    0 0 40px rgb(255, 77, 32),
    0 0 80px rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#titulo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #882000;
  text-align: center;
  margin-bottom: 10px;
}

#sub {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #882000b2;
  text-align: center;
  margin-bottom: 30px;
}

.campo {
  margin-bottom: 20px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
  color: #681d00;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  font-size: 1em;
}

input:focus,
select:focus,
textarea:focus {
  background: #e0e0f8;
  outline: none;
}

.campo input[type="radio"] {
  margin-right: 5px;
}

.botao {
  font-size: 1.1em;
  background: #882000;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-top: 10px;
}

.botao:hover {
  background-color: #aa3000;
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.perfil img {
  max-width: 200px;
  max-height: 200px;
  margin-top: 10px;
  display: none;
  border-radius: 10px;
  border: 2px solid #681d00;
}

select option {
  padding: 10px;
}

fieldset {
  border: 0;
  padding: 0;
}
