* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(IMAGENS/fundod.png);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #333;
  line-height: 1.6;
}


main {
  max-width: 800px;
  margin: 3rem auto;
  background: rgba(255, 255, 255, 0.363);
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.referencias-box h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #d35400;
}

.referencias-box ul {
  list-style: disc inside;
  margin-bottom: 2rem;
}

.referencias-box li {
  margin-bottom: 12px;
  font-size: 1.1rem;
}

.referencias-box a {
  text-decoration: none;
  color: #882000;
  transition: color 0.3s ease;
}

.referencias-box a:hover {
  color: #ff7300;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 2rem;
  }

  main {
    margin: 1.5rem;
    padding: 1.5rem;
  }

  .referencias-box li {
    font-size: 1rem;
  }
}
